@model Crud_Carros.Models.AddClientOfStaffViewModel
@{
    ViewData["Title"] = "Cliente + Staff";

    List<Crud_Carros.Models.Entities.Staff> ListStaff = ViewBag.StaffList;
    List<Crud_Carros.Models.Entities.Client> ListClient = ViewBag.ClientList;
}

<h1>Cadastrar Cliente + Staff</h1>

<form method="post">

    <div class="mb-2">
        <p>Escolha o cliente:</p>
        <select class="form-check" asp-for="ClientId">
            @foreach (var x in ListClient)
            {
                <option value="@x.Id_Client">@x.Name_Client</option>
            }
        </select>
    </div>

    <div class="mb-2">
        <p>Escolha as empresas:</p>
        @foreach (var x in ListStaff)
        {
            <div>
                <input type="checkbox" name="SelectedStaffIds" value="@x.Id_Staff" />
                <label>@x.Name_Staff</label>
            </div>
        }
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-outline-success">Salvar</button>
    </div>

</form>
