
@model Crud_Carros.Models.AddStaffViewModel

@{ViewData["Title"] = "Adicionar Empresas";}


<h1>Adicionar Empresa</h1>

<form method="post">


    <div class="mt-3">
        <label class="form-label">Nome da Loja:</label>
        <input type="text" class="form-control" asp-for="Name_Staff" maxlength="15"/>
    </div>


    <div class="mt-3">
        <label class="form-label">Local:</label>
        <input type="text" class="form-control" asp-for="Local_Staff" maxlength="15"/>
    </div>


    <div class="mt-3">
        <label class="form-label">CEP:</label>
        <input type="text" class="form-control" asp-for="Postalcode" placeholder="Ex: 08452666" id="inputCep" maxlength="8" />
    </div>


    <div class="mt-3">
        <input type="checkbox" class="form-check-input" id="Active" asp-for="active" />
        <label class="form-check-label" for="Active">A loja está ativa?</label>
    </div>


    <div class="mt-3">
        <button type="submit" class="btn btn-outline-success"> Salvar </button>
    </div>

</form>

@section Scripts {
    <script>

        $(document).ready(function () {
            $("#inputCep").keyup(function () {
                $("#inputCep").val(this.value.match(/[0-9]*/));
            });
        });
    </script>
}
