@model Crud_Carros.Models.AddModelOfCarViewModel

@{
    List<Crud_Carros.Models.Entities.Staff> ListStaff = ViewBag.StaffList;
    ViewData["Title"] = "Adicionar Modelo";

}
 
<h1>Adicionar Modelos De Carros</h1>

<form method="post">


    <div class="mb-3">
        <label class="form-label">Nome da Modelo:</label>
        <input type="text" class="form-control" asp-for="Name_ModelOfCar" />
    </div>


    <div class="mb-2">
        Fabricante:

        <select class="list-group" asp-for="StaffId" name="@Html.NameFor(m => m.StaffId)">

            <option selected>Selecione a Montadora:</option>

            @foreach (var x in ListStaff)
            {
                <option value="@x.Id_Staff" data-value="@x.Id_Staff"> @x.Name_Staff </option>
            }

        </select>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-outline-success"> Salvar </button>
    </div>

</form>    
